localPeer:
  id: {{ ansible_hostname }}
  address: {{ ansible_default_ipv4.address  }}
  port: 10000
remotePeers:
- id: k8s-02
  address: 192.168.2.211
  port: 10000
- id: k8s-03
  address: 192.168.2.212
  port: 10000

vip: 192.168.2.209
gratuitousARP: true
singleNode: false
startAsLeader: false
interface: ens192
loadBalancers:
- name: API Server Load Balancer
  type: tcp
  port: 8443
  bindToVip: false
  backends:
  - port: 6443
    address: 192.168.2.210
  - port: 6443
    address: 192.168.2.211
  - port: 6443
    address: 192.168.2.212
